body {
    font-family: 'Montserrat', sans-serif !important;
  }

.post-img {
    max-width: 55vw!important;
}
.navbar-brand{
  margin-right: 0!important;
}


#profilepic {
  display: none;
}

.truncate{
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@media (max-width: 991.98px) { 
  .post-img {
    max-width: 70vw!important;
}
}