{% extends 'template.html.twig' %}


{% block body %}

<title>Blog de Carlu</title>
<section class="pt-5">
    {% for blogpost in post %}

        <div class="container py-2">
                <div class=" card card-body">
                    <h3>
                        {{blogpost.title}}
                        <em class="fw-light fs-5">le {{blogpost.creation_date_fr}}</em>
                    </h3>
                    
                    <p>
                        {{blogpost.content}}
                    </p>
                    <a href="index.php?action=post&amp;id={{blogpost.id}}"><button class="btn btn-outline-dark">Voir les commentaires</button></a>
                </div>
        
            </div>

    {% endfor %}
</section>    
{% endblock %}