{% extends 'template.html.twig' %}

{% block body %}
<section class="pt-5">
    <div class="container">
            <form action="index.php?action=logInAccount" method="post" class="row g-3">
                <h2 class="text-center">Log in</h2>       
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="required" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe" required="required" autocomplete="off">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-block">Login</button>
                </div>   
            </form>
    </div>            
</section>            
{% endblock %}