body {
    font-family: 'Montserrat', sans-serif !important;
}

.post-img {
    max-width: 55vw !important;
    object-fit: cover;
}
.navbar-brand {
  margin-right: 0 !important;
}


#profilepic {
  display: none;
}

.truncate {
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (min-width:768px) {
  #admin-nav {
     display: none !important;
  }
}

@media only screen and (max-width:768px) {
  .admin-pannel{
    margin-top: 22vh !important;
  }
  .sticky-top{
    top:56px;
  }
}

@media (max-width: 991.98px) { 
  .post-img {
    max-width: 70vw !important;
}
}