body {
    font-family: 'Montserrat', sans-serif !important;
  }

.post-img {
    max-width: 55vw!important;
}
.navbar-brand{
  margin-right: 0!important;
}

  @media (max-width: 991.98px) { 
    .post-img {
      max-width: 70vw!important;
  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}